.container-wrap {
  width: 20%;
}
.prop-info-wrap {
  color: #434D60;
  text-align: center;
}
.list-format {
  list-style-type: none;
}
.prop-address {
  text-decoration: none;
  font-size: 18px;
  color: #9096A1;
}
.prop-dates-wrap {
  padding-left: 40px;
  padding-bottom: 20px;
}
.dates-left {
  display: inline-block;
}
.dates-left+.dates-right:after {
  display: block;
}
.dates-right {
  padding-left: 10px;
  color: #9096A1;
  margin-left: 10px;
}
.dates-right-auc {
  padding-left: 20px;
  color: #9096A1;
  margin-left: 20px;
}
.section-separate {
  padding-left: 10px;
}
.card-wrap {
width: 100%;
height: 300px;
min-height: 200px;
position: relative;
}

.thumbnail {
width: 100%;
}
